body {
  background-color: white;
}

.maincontainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.infocards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  font-family: roboto;
}

.maincontent h5 {
  font-weight: bold;
}

.card {
  width: 200px;
  height: 120px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 2.8px 2.2px rgba(0, 0, 0, 0.034)
;
}

.card:hover {
  background-color: #333;
}

.maincontent {
  width: 200px;
  height: 120px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.maincontent img {
  height: 30px;
  width: 30px;
  margin: 30px 20px 20px 20px;
}

.maincontent p {
  font-size: .83em;
  color: #777;
  margin: 0;
  padding: 0;
  position: relative;
  top: -15px;
}

.text {
  display: flex;
  flex-direction: column;
}

.footer {
  height: 40px;
  display: flex;
  align-content: center;
  flex-direction: row;
  width: 200px;
}

.footer a {
  font-family: roboto, sans-serif;
  text-decoration: none;
  color: #777;
  font-size: .83em;
  position: relative;
  left: 20px;
}

.footer i {
  opacity: 0.4;
  position: relative;
  transform: rotate(-40deg);
  font-size: .83em;
  display: flex;
  margin-left: auto;
  right: 10px;
}

.secondarycontent {
  font-family: roboto, sans-serif;
}

.thirdcontent {
  font-family: roboto, sans-serif;
}

.cardcontent {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cardc {
  font-family: roboto, sans-serif;
  width: 200px;
  height: 100px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 2.8px 2.2px rgba(0, 0, 0, 0.034)
;
  text-align: center;
}

.cardc:hover {
  background-color: #777;
}
@media (max-width: 500px) {
  .infocards {
    display: flex;
    flex-direction: column;
  }

  .cardcontent {
    display: flex;
    flex-direction: column;
  }
}